.admin-header {
  background-color: rebeccapurple;
  width: calc(100% - 200px);
}

@media screen and (max-width: 1024px) {
  .admin-header {
    width: calc(100% - 0px);
  }
}

.ant-table-wrapper {
  overflow-x: auto;
}

.ant-table-thead > tr > th {
  white-space: nowrap;
}

.ant-table-cell {
  white-space: nowrap;
}

.sortable-table {
  cursor: pointer;
}

.admin-form input,
textarea,
.ant-select-selector {
  background-color: #f8fafb !important;
}

.create-book-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 0.5fr;
  gap: 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "first first second"
    "fifth third third"
    "fifth fourth fourth"
    "span span sixth";
  .first {
    grid-area: first;
  }

  .second {
    grid-area: second;
  }

  .third {
    grid-area: third;
  }

  .fourth {
    grid-area: fourth;
  }

  .fifth {
    grid-area: fifth;
  }

  .sixth {
    grid-area: sixth;
  }
}

@media screen and (max-width: 1024px) {
  .create-book-form {
    display: flex;
    flex-direction: column;
  }
}

.table-scrollbar::-webkit-scrollbar {
  height: 5px;
  border-radius: 8px;
}
.table-scrollbar::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 8px;
}

.menu-item svg {
  fill: #0b84bc;
}
