.admin-header {
  background-color: rebeccapurple;
  width: calc(100% - 200px);
}

@media screen and (max-width: 1024px) {
  .admin-header {
    width: calc(100% - 0px);
  }
}

.ant-table-wrapper {
  overflow-x: auto;
}

.ant-table-thead > tr > th {
  white-space: nowrap; /* Prevent column headers from wrapping */
}

.ant-table-cell {
  white-space: nowrap; /* Prevent cell data from wrapping */
}

.custom-column {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
